<h2>See your product in realtime</h2>
<hr>
<br><br>

<ul id="list">
    <ul>
    {{#each result}}
</ul>
{{/each}}
<br>
</ul>

<br>

<script src="socket.io/socket.io.js"></script>
<script src="js/realTimeProducts.js"></script>